[submodule "framework/lib/Custom-Metaboxes-and-Fields-for-WordPress"]
	path = framework/lib/Custom-Metaboxes-and-Fields-for-WordPress
	url = git://github.com/jaredatch/Custom-Metaboxes-and-Fields-for-WordPress.git
