[submodule "framework/lib/Custom-Metaboxes-and-Fields-for-WordPress"]
	path = framework/lib/Custom-Metaboxes-and-Fields-for-WordPress
	url = git://github.com/jaredatch/Custom-Metaboxes-and-Fields-for-WordPress.git
[submodule "framework/lib/NHP-Theme-Options-Framework"]
	path = framework/lib/NHP-Theme-Options-Framework
	url = git://github.com/leemason/NHP-Theme-Options-Framework.git
[submodule "framework/lib/CSS-Generator-for-NHP-Framework"]
	path = framework/lib/CSS-Generator-for-NHP-Framework
	url = git://github.com/jmahony/CSS-Generator-for-NHP-Framework.git
[submodule "framework/lib/JMetaBox"]
	path = framework/lib/JMetaBox
	url = https://github.com/jmahony/JMetaBox.git
